<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brain Flask App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen"
        href="{{ url_for('static', filename='semantic-ui/semantic.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/home.css') }}" />
    <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='semantic-ui/semantic.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>


<body>
    <div id="particles-js"></div>
    {% block content%}{% endblock%}
</body>

<script src="{{ url_for('static', filename='particle-js/particles.js') }}"></script>
<script src="{{ url_for('static', filename='js/particle-setup.js') }}"></script>


</html>